
// edit()
.contact_info
  column('1/1')
  margin-left: 3px
  .contact_label
    column('1/1')
    margin-bottom: 0em
    color: alpha($gray(1), 0.6)
    font-size: 0.9em
  .contact_data
    margin-top: -10px
    a
      buttron({
        style: false
        font-size: 0.75em
        color: alpha($ac2, 0.4)
        hover:{
          color: alpha($ac2, 0.6)
        }
      })
  .telephone
    column('1/3', $gut: 3px)
    float: left
  .email
    column('2/3', $gut: 3px)
    float: right
