// //Contact info short

shortContactIcon = ButtronClass('shortContactIcon', {
  style: false
  before:{
    content: "\f095"
    font-family: 'FontAwesome'
    position: absolute
    margin-left: -20px
    color: lighten($sc, 10%)
    font-size: 1.2em
    hover:{
      color: $ac2
    }
  }
})

.contactInfo_short
  flex-container()
  .telephone, .address, .email
    align()
    column('1/1')
    font-size: 0.8em
    font-weight: bold
    line-height: 1.7em
    .contact_data
      font-weight: normal
  .telephone
    shortContactIcon()
  .email
    shortContactIcon({
      before:{
        content: "\f003"
        margin-left: -25px
      }
    })
  .address
    shortContactIcon({
      before:{
        content: "\f041"
      }
    })