$color-primary = alpha($ac1, 0.9)
$color-secondary = $sc
$color-title = darken($pc, 10%)
.list_pannel_Wrapper
  column('1/1')
  clearfix()
  margin-bottom: 50px

.list_pannel
  column('1/3')
  float: left
  position: relative
  background-color: #f7f7f7
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden
  border-radius: 2px
  height: calc(100vh - 200px)
  min-height: 350px
  margin-top: 50px
  border-radius: 2px
  .header
    width: 100%
    height: 160px
    background-color: alpha($gray(3), 0.35)
    overflow: hidden
    &:after
      content: "";
      background-image: url('../images/navBg.png')
      opacity: 0.2;
      height: 160px
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: 2;
      transition-property: opacity;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    // box-shadow: 0 2px 9px 0px darken($color-primary, 30%)
    .circle
      position: relative
      top: 20px
      left: 55px
      width: 50px
      height: 50px
      // background-color: $color-secondary
      background-color: alpha($color-title, 0.9)
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3)
      border-radius: 50%
      z-index: 10
    h1
      position: relative
      top: 10px
      left: 102px
      font-size: 2.5em
      color: $color-title
      border-bottom: 2px solid #f7f7f7
      margin-top: 10px
      padding-left: 5px
  .line
    position: absolute
    z-index: 0
    top: 50px
    left: 80px
    height: calc(100% + 200px)
    width: 0px
    border-right: 2px solid alpha($gray(2), 0.8)
  .displayMonth
    height: 35px
    width: 80px
    float: left
    margin-top: -35px
    background: transparent
    border-left: 5px solid transparent
    padding-right: 5px
    color: #fff
    padding-top: 5px
    text-align: center
    //text for month
    span
      padding: 5px
      font-size: 1em
  #content_wrapper
    width: 100%
    height: calc((100vh - 160px) - 160px)
    padding-top: 20px
    overflow-y: scroll
    overflow-x: hidden
    &::-webkit-scrollbar
      width: 6px
      background-color: #EBEBEB
    &::-webkit-scrollbar-thumb
      background-color: #ccc
    .object
      width: 100%
      &:after
        content: ""
        display: block
        height: 0
        clear: both
      .info
        width: 100px
        float: left
      .date
        float: left
        width: 46px
        height: 46px
        margin-left: 17px
        margin-top: 20px
        // background-color: alpha($gray(3), 0.75)
        border-style: solid
        border-width: 5px
        color: #fff
        border-radius: 10px
        div
          text-align: center
          font-size: 1.3em
          line-height: 1.6em
          color: alpha($gray(3), 0.8)
        //hidden js handles
        .month
          display: none
          margin-top: -90px
          margin-left: -22px
          -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, rgba(0,0,0,0.9)), color-stop(0.35, rgba(0,0,0,0.7)), color-stop(1.00, rgba(0,0,0,0.35)))
          .monthText
            display: none
          .monthLine
            display: none
            width: 5px
            margin-top: -35px
            padding-right: 2px
      .circle
        position: relative
        float: left
        z-index: 10
        margin: 30px 0 0 8px
        width: 20px
        height: 20px
        background-color: alpha($color-title, 0.9)
        border-radius: 50%
      .context
        box-shadow: 0 1px 3px rgba(0,0,0, 0.22)
        border-radius: 5px
        // float: right
        color: #666
        min-height: 40px
        margin: 0px 10px 20px 100px
        padding-bottom: 10px
        // padding: 20px
        // padding-top: 5px
        background-image: radial-gradient(center center, circle circle, #fff, alpha(#fff, 0.8))
        background-image: -webkit-radial-gradient(center center, circle circle, #fff, alpha(#666, 0.05))
        border-top: 5px solid #fff
        font-size: 0.9em
        .title
          flex-container()
          background: #f7f7f7
          box-shadow: 0 1px 3px rgba(0,0,0, 0.22)
          font-size: 1.2em
          padding-right: 10px
          padding-left: 10px
          color: alpha($gray(3), 0.8)
          font-family: $header-font
          span
            align(center)
            column('1/1')
            text-align: center
        .content
          clearfix()
          padding-left: 10px
          padding-right: 5px
          padding-top: 15px
          p
            margin-bottom: 0px
            font-size: 0.85em
        .linkToArticle
          float: right
          margin-top: -10px
          i
            buttron({
              style: false
              width: 100px
              margin-right: 5px
              cursor: pointer
              before:{
                content: "\f0c1"
                position: absolute
                color: alpha($gray(3), 0.7)
                font-family: FontAwesome
                padding-top: 5px
                right: 0
                top: 0
                hover:{
                  color: $sc
                  option:{
                    durration: 0.25s
                    root: true
                  }
                }
              }
              //possible add bg on hover
              after:{
                content: 'To Article'
                position: absolute
                left: -10px
                top: 5px
                opacity: 0
                font-family: $body-font
                font-size: 0.9em
                font-weight: bold
                color: alpha($gray(3), 0.6)
                hover:{
                  opacity: 1
                  option: {
                    durration: 0.25s
                    root: true
                  }
                }
              }
            })
        .readMore
          float: right
          clearfix()
          .readMoreButton
            border-radius: 3px
            margin-top: 5px
            margin-right: 5px
            float: right
            padding: 4px
            font-size: 0.75em
            border: solid 2px $pc
            transition: all 0.5s
            &:hover
              transition: all 0.5s;
              background: $pc
              color: #fff
              cursor: pointer
              shadow(1)
    #load-more
      width: calc(99.99% - (88px))
      float: right

//No date
.list_pannel.no_date
  .circle
    left: 15px
  .line
    left: 39px
  h1
    left: 68px
  #content_wrapper
    .object
      .info
        width: 0px
        .circle
          margin: 30px 0 0 15px
      .context
        margin: 0px 20px 20px 67px
        padding-bottom: 10px
        border-color: $pc
    #load-more
      width: calc(99.99% - (65px))
      margin-right: 10px
      float: right