
//inserted via js
.pdfLinks
  buttron({
    style: false
    background: alpha($gray(3), 0.2)
    color: alpha($gray(2), 0.6)
    font-size: 0.85em
    margin-left: 5px
    padding: 4px
    padding-top: 2px
    padding-bottom: 2px
    border-radius: 2px
    border: 1px solid alpha($gray(2), 0.2)
    after:{
      margin-left: 3px
      content: "\f019"
      font-family: 'FontAwesome'
      hover:{
        color: $pc
      }
      
    }
  })
