

header
  .top-bar-container
    background: alpha(lighten($white, 60%), 0.7)
    border-bottom: 8px solid $pc
    height: 80px
    &:after
      content: "";
      // background-image: url('../images/navBg.png')
      // opacity: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      transition-property: opacity;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  .top-bar
    background: transparent
    margin-top: 15px

//subtle bg patten
.showNavBgPattern
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  &:after
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    opacity: 0.6 !important



#primaryNav
  align()
  center($centerWidth)
#menu-main-page-nav
  column('1/1')
  .top-level-tab
    column('1/3')
    //nav tab title
    a:nth-last-child(2)
      font-size: 1.4em
      line-height: 2em
      text-align: center
    a
      background: $pc
      z-index: -9999
    //sub-menu container
    .sub-menu
      column('1/1')
      border-bottom: 16px solid $pc
      border-bottom-left-radius: 2px
      border-bottom-right-radius: 2px
      box-shadow: 0px 2px 20px 3px rgba(77,77,77, 0.45)
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute !important;
      width: 1px;
      margin-top: -8px
      opacity: 0
      //border left
      &:before
        content: ''
        position: absolute
        background: linear-gradient(to top, $pc 54%, #68859C 93%) 
        width: 8px
        top: 0px
        bottom: 0
        left: 0
      //border right
      &:after
        content: ''
        position: absolute
        background: linear-gradient(to top, $pc 54%, #68859C 93%) 
        width: 8px
        top: 0px
        bottom: 0
        right: 0
      li
        column('1/3', $gut: 0)
        position: relative
        //links
        a
          buttron({
            style: false
            background: rgba(255, 255, 255, 0.84)
            color: transparent
            after:{
              content: ''
              position: absolute
              top: 0
              bottom: 0
              right: 0
              left: 0%
              background: transparent
              hover:{
                background: darken(alpha($pc, 0.8), 20%)
                left: 100%
                option:{
                  root: true
                  duration: 0.45s
                }
              }
            }
            hover:{
              box-shadow: 0px 0px 8px 3px darken(alpha($pc, 0.6), 40%)
              // background: alpha($gray(4), 0.2)
              // letter-spacing: 0.1em
              background: lighten(rgba(255, 255, 255, 0.90), 20%)
              option:{
                duration: 0.3s
              }
              
            }
          })
        


.top-bar-section ul li
  background: alpha($gray(2), 0.8)

#singleMenu_Wrapper
  position: absolute
  top: 0
  left: 0
  bottom: 0
  background: $gray(2)

//single tab
.singleMenuTab
  background: alpha($gray(3), 0.7)  !important


//Normal Size
.activeMenuTab
  background: alpha($gray(3), 0.5) !important
  // background: rgba(255, 255, 255, 0.84) !important
  border: 8px solid $pc !important
  // height: 70px !important
  // margin-top: -10px
  // padding-top: 10px !important
  border-bottom: 0px solid transparent  !important
  transition-property: all;
  transition-duration: 0.45s;
  &:before
    transition-property: all;
    transition-duration: 0.45s;
    background: linear-gradient(to bottom, #4D4D4D 0%, #383838 76%) !important
    bottom: 8px !important
    width: calc(100% - 16px) !important
    z-index: 9999
    left: 8px !important


//Shrunk Size
.activeMenuTabShrunk
  background: $gray(3) !important
  border-left: 8px solid $pc !important
  border-right: 8px solid $pc !important
  border-bottom: 8px solid $pc !important
  height: 57px !important
  // margin-top: -10px
  transition-property: all;
  transition-duration: 0.45s;
  &:before
    transition-property: all;
    transition-duration: 0.45s;
    background: linear-gradient(to bottom, #4D4D4D 0%, #383838 76%) !important
    bottom: 8px !important
    width: calc(100% - 16px) !important
    z-index: 9999
    left: 8px !important
//show dropdow from foundation _global
.showDropDown
  position: static !important;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto !important
.menuDropShadow
  width: 100%
  height: 10px
  position: absolute
  top: 80px
  background-image: url("../images/shadow.png")
  background-repeat: repeat-x
  background-size: 1px
  opacity: 0.4



$bdWidth = 3px
$bdColor = green
#menu-main-page-nav
  .top-level-tab
    buttron({
      style: false
      border-top-left-radius: 2px
      border-top-right-radius: 2px
      z-index: 0
      component:{
        a:{
          background: $pc
          border-top: 8px solid alpha($gray(3), 0.7)
          border-left: 0px solid transparent
          border-right: 0px solid transparent
          border-radius: 2px
          height: 65px
          z-index: 0
          // margin-top: 8px
          before:{
            content: " "
            position: absolute
            height: 8px
            width: 100%
            background: linear-gradient(to bottom, darken($pc, 20%) 0%, darken($pc, 20%) 76%)
            bottom: 0
            left: 0
          }
          hover:{
            option:{
              property: all
            }
          }
        }
      }
    })