//Side Nav for subPages
#sideNav_Wrapper
  list-style-type: none
  padding: 0
  width: 225px
  float: left
  ul 
    padding-left: 0
    margin-bottom: 0
  li
    align(middle-left)
    buttron({
      style: false
      height: 37px
      border-right: 5px solid alpha($gray(3), 0.2)
      font-size: 0.7em
      padding-left: 3px
      padding-right: 4px
      border-top: 1px solid rgba(34,36,38,.15)
      line-height: 1.2em
      'first-child':{
        border-top: none
      }
      'last-child':{
        border-bottom: 1px solid rgba(34,36,38,.15)
      }
      hover:{
        padding-left: 6px
        padding-right: 2px
        border-right: 5px solid alpha($pc, 0.8)
        background: alpha($gray(3), 0.1)
        color: darken($gray(), 20%)
        option:{
          duration: 0.25s
        }
      }
      //link
      component:{
        a:{
          width: 100%
          padding-top: 3px
          padding-bottom: 3px
        }
      }
    })
  .home-icon
    buttron({
      style: false
      position: relative
      before:{
        content: "\f177"
        position: absolute
        font-family: FontAwesome
        color: alpha($gray(3), 0.2)
        font-size: 1em
        right: 25px
        top: 30%
        hover:{
          color: alpha($pc, 0.8)
          option:{
            duration: 0.25s
          }
        }
      }
      after:{
        content: "\f015"
        position: absolute
        font-family: FontAwesome
        color: alpha($gray(3), 0.2)
        font-size: 1.5em
        right: 5px
        top: 30%
        hover:{
          color: alpha($pc, 0.8)
          option:{
            duration: 0.25s
          }
        }
      }
    })

  .active
    padding-left: 6px
    padding-right: 2px
    border-right: 5px solid alpha($pc, 0.8)
    background: alpha($gray(3), 0.1)
    color: darken($gray(), 20%)
  .auxSingleMenu
    //default override via js
    height: 75vh
    width: 225px
    border-right: 5px solid alpha($gray(3), 0.2)
    background: alpha($gray(), 0.2)


#sideNav_Wrapper
  .single-with-children
    flex-container()
    height: 100%
    padding-right: 0
    a
      align(middle-left)
      column('1/1')
      height: 37px
    .side-nav-child
      column('9/10', $gut: 0)
      // border-left: 5px solid alpha($gray(3), 0.2)
      li
        buttron({
          style: false
          'first-child':{
            border-top: 1px solid rgba(34,36,38,.15)
          }
          'last-child':{
            border-bottom: none
          }
          hover:{
            padding-left: 6px
            padding-right: 2px
            border-right: 5px solid alpha($pc, 0.8)
            // background: alpha($gray(3), 0.1)
            color: darken($gray(), 20%)
            option:{
              duration: 0.25s
            }
          }
        })
        border-right: none !important
        a
          buttron({
            style: false
            position: relative
            padding-left: 12px
            before: {
              content: "\f0da"
              position: absolute
              font-family: FontAwesome
              color: alpha($gray(3), 0.2)
              font-size: 1.5em
              top: 30%
              left: 0
              hover:{
                color: alpha($pc, 0.8)
                option:{
                  duration: 0.25s
                }
              }
            }
          })
      //active a
      .active
        a
          &:before
            color: alpha($pc, 0.8)
