//Used to get text width, carousel.js
#testText
  // display: none
  visibility: hidden
  position: absolute
  height: auto
  width: auto
  white-space: nowrap
  
.carousel
  margin-top: 50px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .slick-list
    border-radius: 2px
.carousel_img
  //for load
  opacity: 0
  height: 400px
  background-size: cover;
  h2
    opacity: 0
    position: absolute
    margin: 0
    top: 10px
    min-width: 250px
  p
    opacity: 0
    position: absolute
    min-width: 250px
    span
      background: rgba(0, 0, 0, 0.7)
      padding: 1px
      padding-left: 5px
      padding-right: 5px
      border-radius: 2px
    
.text_container_one
  width: 100%
  height: 100%

//Postiton
#carousel_pos_left
  position: absolute
  left: 20px
#carousel_pos_right
  position: absolute
  right: 20px

slickSideBtn = ButtronClass('slickSideBtn', {
  style: false
  hover:{
    transform: scale(2)
    transform-origin: 100%
  }
  before:{
    font-family: "slick"
    font-size: 30px
    line-height: 1
    color: $pc
    opacity: 0.8
    -webkit-font-smoothing: antialiased
    margin-left: -10px
    hover:{
      opacity: 1
      option:{
        root: true
      }
    }
  }
})

//icons
.slick-prev
  slickSideBtn()
.slick-next
  slickSideBtn({
    hover:{
      transform-origin: 0%
    }
    before:{
      margin-left: 0px
    }
  })

//dots
.slick-dots
  bottom: -30px
  li
    button
      buttron({
        style: false
        before:{
          content: ''
          background: $gray()
          border-radius: 50%
          border: 1px solid alpha($gray(2), 0.5)
          hover:{
            opacity: 1
          }
        }
      })