
.home_Wrapper
  center($centerWidth)
  .content_Wrapper
    column('1/1')

.home_pannels_container
  cf()
  height: 1000px

//fetured Story
.featuredStoryHome
  //hide Button to replace with mine
  #load-more
    display: none

#homeALMFeatured
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  border-radius: 2px
  margin-top: 50px
  .topSpacer
    with: 100%
    height: 9px
    background: alpha($ac2, 0.7)
  .story_Wrapper
    clearfix()
    .storyHead
      flex-container()
      padding: 15px
      width: 100%
      height: 100px
      background: alpha($gray(3), 0.3)
      //halo effect on nav
      // &:after
      //   content: "";
      //   background-image: url('../images/navBg.png')
      //   opacity: 0.2;
      //   height: 160px
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   position: absolute;
      //   z-index: 2;
      .header
        align(center)
      h2
        margin: 0
    .storyDetails
      padding: 15px
      p
        color: alpha($gray(2), 0.8)

