//Event styles
.event_Wrapper
  header
    column('1/1')
  .event_Title
    border-bottom: 5px solid alpha($gray(3), 0.2)
    padding-top: 10px
    padding-bottom: 10px
    padding-left: 10px
    margin-top: 0
  .event_Container
    column('1/1')
    padding: 10px
    margin-bottom: 30px
    #tribe-events
      background: transparent


#tribe-bar-form
  shadow(1)
  background: transparent
  border-radius: 3px
  border-top: 9px solid alpha($ac2, 0.7)
  .tribe-bar-filters-inner
    background: transparent
  .tribe-bar-date-filter
    background: transparent
  //picker
  .tribe-bar-views-inner
    margin-right: -2px
    .tribe-bar-views-list
      z-index: 0

//calander
#tribe-events-content-wrapper
  .tribe-events-page-title
    display: none
  .tribe-events-calendar
    thead
      background: $gray(3)
  //active day
  #tribe-events-daynum-9
    background-color: $pc

#tribe-events-content
  .tribe-events-page-title
    margin: 0
    

//single event
#tribe-events-content
  background: transparent

//single Event
.event_info
  clearfix()
  column('1/1')
  shadow(1)
  border-top: 9px solid alpha($ac2, 0.7)
  border-radius: 3px
  padding: 10px
  //event title
  .event_title
    border-bottom: 1px solid alpha($gray(2), 0.2)
    margin-bottom: 15px
    padding-left: 5px
    padding-right: 5px
    .tribe-events-schedule
      margin-bottom: 5px
      margin-top: 5px
  //fetured Image
  .tribe-events-event-image
    float: left
    margin: 0 20px 20px 0
    max-width: 75%
    img
      border-radius: 3px
      padding-left: 5px
  //desc
  .tribe-events-single-event-description
    padding-left: 5px
    padding-right: 5px 
  //calander export
  .tribe-events-cal-links
    column('1/1')
    align(bottom-right)
    margin-bottom: 10px
    
//single event meta
.single-tribe_events 
  .tribe-events-event-meta
    column('1/1')
    shadow(1)
    background: transparent
    border: none
    border-top: 9px solid alpha($ac2, 0.7)
    border-radius: 3px

//single event meta
.single-tribe_events 
  .tribe-events-event-meta.primary
    align(top-center)
    overflow: hidden
    position: relative
    .tribe-events-meta-group
      border-right: 5px solid green
      margin-bottom: -99999px
      padding-bottom: 99999px
      &:last-child
        border-right: none
