//Wrapper for subpages
.subPage_Wrapper
  .content_Wrapper
    margin-right: -225px
    width: calc(99.99% - 225px)
    padding-left: 30px
    flex: 0 0 auto
    .page_Header
      border-bottom: 5px solid alpha($gray(3), 0.2)
      margin-left: -30px
      padding-left: 30px
      padding-top: 10px
      padding-bottom: 10px
      padding-left: 30px
      h1
        margin: 0
    .page_Content
      column('1/1')
      padding-top: 20px
      padding-right: 30px
    h1, h2, h3, h4, h5
      margin-top: 5px
    a
      buttron({
        style: false
        color: alpha(darken($pc, 10%), 0.85)
        hover: {
          color: darken($pc, 15%)
          option:{
            duration: 0.25s
          }
        }
      })
    .page_Content
      //list
      ul
        list-style-type: none
        li
          padding-top: 5px
          padding-bottom: 5px
          &:before
            content: "\f054"
            font-family: 'FontAwesome'
            color: alpha($gray(2), 0.3)
            font-size: 0.75em
            margin-right: 5px