//Nav portion in component file
header
  .sub-header_Wrapper
    // edit()
    height: 208px
    column('1/1')
    overflow: hidden
    &:after
      content: "";
      background-image: url('../images/navBg.png')
      opacity: 0.6;
      top: 0;
      left: 0;
      right: 0;
      height: 220px
      position: absolute;
      z-index: -1;   
  .sub-header_Container
    center($centerWidth)
    height: 100%
    margin-top: 45px
    .logo_Container
      column('1/3')
      align()
      height: 100%
    .contactUs
      column('1/3')
      offset('-1/3')
  .sub-header_btm-shadow
    width: 100%
    height: 12px
    background-image: url("../images/shadow-bottom.png")
    background-repeat: repeat-x
    background-size: 2px

//contactus styling is in components this for pos
header
  .contactUs
    align()


//logo
header
  .logo
    text-align: center
    color: alpha($gray(3), 0.8)
    .top
      font-size: 0.70em
      text-align: left
      margin-left: 0.1em
      margin-top: 0.3em
    .middle
      font-family: $header-font
      font-weight: bold
      letter-spacing: 4px
      font-size: 2.8em 
      color: alpha($gray(3), 0.75)
      text-shadow: 0px 2px 3px alpha($gray(2), 0.4);
      margin-top: -0.4em
      .start
        //
      .bearClaw
        position: absolute
        // background: green
        color: alpha($white, 0)
        text-shadow: 0px 2px 3px alpha($gray(2), 0);
        margin-left: -0.2em
        &:before
          content: ''
          position: absolute
          width: 0.8em
          height: 100%
          left: 0
          bottom: -0.3em
          transform: rotate(-10deg);
          // // background: green
          background-image: url("../images/bearClaw.png")
          background-size: 0.7em
          background-repeat: no-repeat;
          opacity: 0.85
      .end
        margin-left: 0.5em
    .bottom
      margin-top: -0.8em
      font-size: 0.89em
