//Settings/Plugins
ks-no-conflict = true
@import "kouto-swiss"
@import 'lost';
//Lost Settings
$flexbox = true;
$gutter = 30px
$rtl = false
@import 'rupture';
//Base
@import '_base/*'
//Used for assets that use buttron only during development to
//reduce wait time

// @import "_includes/footer"

// edit()

footer
  position: absolute
  left: 0px
  right: 0px
  padding-top: 1.2em
  background: $gray(3)
  background-image: url("../images/shadow.png")
  background-repeat: repeat-x
  background-size: 2px
  height: 100vh
  .shadow_widget_footer
    position: absolute
    opacity: 0.2
    left: 0px
    right: 0px
    height: 14px
    background-image: url("../images/shadow.png")
    background-repeat: repeat-x
    background-size: 2px
    z-index: 20

footer
  .footer_widget_wrap
    center($centerWidth)
    margin-top: 40px
    height: calc((100vh * 1/4) - 40px)
    .footer_widget
      column('1/3')

//Title for footer widgets
footer
  .footer_title
    color: $white
    text-transform: uppercase
    font-weight: bold
    border-bottom: solid 5px $ac1
    //type
    h5
      color: $white
      margin: 0
      padding: 0
      margin-bottom: -10px



//Footer Left
footer
  .footer_left
    .social_icons
      padding-left: 0em
      list-style-type: none
      margin-top: 3px
      margin-left: 3px
      li
        float: left
        padding-right: 0.25em
        padding-top: 0.25em
        margin-top: 10px
        //unfortuanly buttron is not finished yet and I have to do this by hand
        &:last-child
          .fa
            &:after
              display: none
      .fa
        buttron({
          style: false
          padding-right: 0.5em
          before:{
            color: alpha($ac2, 0.4)
            hover:{
              color: alpha($ac2, 0.6)
              option:{
                duration: 0.25s
              }
            }
          }
          after:{
            content: ''
            position: absolute
            right: 0.1em
            top: -5px
            width: 0.25em
            height: 0.25em
            border-radius: 50%
            background: $ac1
          }
        })
        
//Footer Middle
//email
footer
  .footer_middle
    column('1/1')
    .mailListEmail
      column('2.8/4', $gut: 0)
      float: left
      margin: 0
    .mailListSignUp
      column('1.2/4', $gut: 0)
      font-family: $body-font
      buttron({
        style: false
        border: none
        float: right
        height: 41.625px
        line-height: .75em
        color: darken($gray(4), 15%)
        padding: 0.75rem 1.25rem 0.75rem 1.25rem
        background: darken($pc, 10%)
        hover:{
          background: $sc
          color: $ac2
          option:{
            duration: 0.25s
          }
        }
      })


.twitterFeed_footer_Wrapper
  // clearfix()
  background: alpha($gray(2), 0.2)
  padding-top: 50px
  padding-bottom: 50px
  position: relative
  &:before
    // content: ''
    // position: absolute
    // top: 0
    // bottom: 0
    // right: 0
    // left: 0
    // opacity: 0.8
    // background-image: url("../images/twitterBg.png")
  &:after
    content: ''
    position: absolute
    opacity: 0.3
    left: 0
    right: 0
    bottom: 0
    height: 17px
    background-image: url("../images/shadow-bottom.png")
    background-repeat: repeat-x
    background-size: 2px

//Twitter
.twitterFeed_footer
  flex-container()
  width: 100%
  position: relative
  // background: white
  overflow: hidden 
  padding-left: 0px
  // border: 5px solid alpha($gray(3), 0.9)
  border: 2px solid alpha($gray(2), 0.6)
  border-radius: 2px
  z-index: 10
  //twitter icon
  .twitterIcon
    flex-container()
    column('1/7')
    height: 120px
    background: alpha($gray(1), 0.1)
    border-right: 2px solid alpha($gray(2), 0.6)
    a
      column('1/1')
      i
        align(center)
        color: $ac1
        margin-top: 55px
        font-size: 5em
  //tweet count
  .tweetCount_Wrapper
    column('1/1')
    .tweetCount
      align(bottom)
      margin-top: 45px
      font-size: 0.75em
      color: alpha($gray(2), 0.75)
      margin-left: -5px
      color: alpha($ac2, 0.3)
      span
        &:first-child
          width: 0.6em
          
  //tweets
  .tweeple-feed-widget
    .tweets
      padding: 0
      margin: 0
      .tweet
        column('5.5/7')
        color: alpha($gray(1), 0.8)
        height: 120px
        list-style: none
        position: absolute
        top: -100%
        opactiy: 0
        //links
        .twitter-link
          buttron({
            style: false
            color: alpha($ac2, 0.7)
            border: 2px solid transparent
            border-radius: 2px
            padding: 2px
            hover:{
              border-color: alpha($ac2, 0.7)
              border-radius: 2px
              color: alpha($ac2, 0.9)
              background: alpha($ac1, 0.5)
            }
          })
        //tweet wrapper
        .tweet-wrap
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
        //meta data
        .tweet-meta
          //author
          .tweet-author
            buttron({
              style: false
              font-weight: bold
              font-size: 1em
              color: alpha($ac2, 0.7)
              position: absolute
              bottom: 0
              left: 0
              background: transparent
              border-top: 2px solid alpha($gray(2), 0.7)
              border-left: 2px solid alpha($gray(2), 0.7)
              border-right: 2px solid alpha($gray(2), 0.7)
              border-top-left-radius: 3px
              border-top-right-radius: 3px
              padding-right: 5px
              padding-left: 5px
              hover:{
                border-color: alpha($ac2, 0.7)
                color: alpha($ac2, 0)
              }
              component:{
                a:{
                  color: alpha($gray(1), 0.8)
                  font-weight: normal
                  hover:{
                    color: alpha($gray(2), 0)
                  }
                  after:{
                    content: "\f08e"
                    position: absolute
                    top: 2px
                    right: 8px
                    color: alpha($ac2, 0)
                    font-weight: bold
                    font-family: 'FontAwesome'
                    hover:{
                      color: alpha($ac2, 0.7)
                    }
                  }
                  before:{
                    content: 'Go To User'
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    padding-left: 5px
                    bottom: 100%
                    padding-top: 2px
                    opacity: 0
                    background: alpha($ac1, 0.5)
                    color: alpha($ac2, 0.7)
                    hover:{
                      bottom: 0%
                      opacity: 1
                      option:{
                        root: true
                      }
                    }
                  }
                }
              }              
            })
          //time stamp
          .tweet-stamp
            buttron({
              style: false
              position: absolute
              bottom: 0
              right: 0
              background: transparent
              border-top: 2px solid alpha($gray(2), 0.7)
              border-left: 2px solid alpha($gray(2), 0.7)
              border-right: 2px solid alpha($gray(2), 0.7)
              border-top-left-radius: 3px
              border-top-right-radius: 3px
              padding-right: 35px
              padding-left: 6px
              hover:{
                border-color: alpha($ac2, 0.7)
              }
              component:{
                a:{
                  color: alpha($gray(1), 0.8)
                  hover:{
                    color: alpha($gray(1), 0)
                  }
                  before:{
                    content: 'Go To Tweet'
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    bottom: 100%
                    padding-left: 5px
                    padding-top: 2px
                    opacity: 0
                    background: alpha($ac1, 0.5)
                    color: alpha($ac2, 0.7)
                    hover:{
                      bottom: 0%
                      opacity: 1
                      option:{
                        root: true
                      }
                    }
                  }
                  after:{
                    content: "\f08e"
                    position: absolute
                    margin-left: 10px
                    top: 2px
                    color: alpha($ac2, 0.7)
                    font-family: FontAwesome
                  }
                }
              }
            })
  //Changer
  .tweetChanger
    column('.5/7')
    position: absolute
    right: 0
    top: 0
    bottom: 0
    .tweet_button
      buttron({
        style: false
        height: 45%
        position: absolute
        left: 0
        right: 0
        background: alpha($gray(1), 0.1)
        border-left: 2px solid alpha($gray(2), 0.7)
        first-child:{
          top: 0
          border-bottom: 2px solid alpha($gray(2), 0.7)
          border-bottom-left-radius: 3px
        }
        last-child:{
          bottom: 0
          border-top: 2px solid alpha($gray(2), 0.7)
          border-top-left-radius: 3px
        }
        hover:{
          cursor: pointer
        }
        component:{
          i:{
            font-size: 2em
            color: $ac1
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 50%
            transform: translateX(-50%)
            hover:{
              color: alpha($ac2, 0.7)
              option:{
                root: true
              }
            }
          }
        }
      })
      
          

footer
  #map-canvas
    margin-top: 8vh
    height: 30vh
    width: 100%
    background: $gray(3)
    margin-bottom: 50px
    background-color: $gray(3) !important
    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      left: 0
      height: 15px
      background-image: url("../images/shadow.png")
      background-repeat: repeat-x
      background-size: 2px
      opacity: 0.3
      z-index: 20
    &:after
      content: ''
      position: absolute
      bottom: 0
      right: 0
      left: 0
      height: 15px
      background-image: url("../images/shadow-bottom.png")
      background-repeat: repeat-x
      background-size: 2px
      opacity: 0.3
      z-index: 20      

//nav
footer
  .footer_nav
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background: alpha($gray(2), 0.2)
    height: 50px
    &:before
      content: ''
      position: absolute
      opacity: 0.2
      left: 0px
      right: 0px
      height: 14px
      background-image: url("../images/shadow.png")
      background-repeat: repeat-x
      background-size: 2px
      z-index: 20
    ul
      align(middle)
      margin: 0
      height: 25px
      li
        height: 25px
        a
          buttron({
            style: false
            color: alpha($ac2, 0.4)
            hover:{
              color: alpha($ac2, 0.6)
              option:{
                duration: 0.25s
              }
            }
          })