

.business_Wrapper
  column('1/1')
  height: 2000px


//carousel
.bis_Wrapper
  flex-container()
  .titleBox_Wrapper
    column('1/1')
    //Boexs
    .titleBox_Container
      .box
        align()
        buttron({
          style: false
          opacity: 0
          height: 125px
          margin-left: 10px
          margin-right: 10px
          font-size: 2em
          border-radius: 4px
          padding-left: 30px 
          padding-right: 30px 
          cursor: pointer
          transition: {
            border-top: 10px solid alpha($pc, 0.8)
            background: alpha($gray(4), 0.4)
            box-shadow: "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)"
          }
          hover:{
            border-top: 10px solid alpha($ac2, 0.8)
          }
        })
      .slick-current
        shadow()
        buttron({
          style: false
          position: relative
          transition:{
            background: $white
            box-shadow: "box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)"
            border-top: 10px solid alpha($ac2, 0.8)
          }
        })
      .slick-dots
        li
          //remove list styling for dots
          &:before
            display: none
      .slick-arrow
        position: absolute
        top: 100%
      .slick-next
        right: 40%
      .slick-prev
        left: 40%
      .slick-dots
        top: 92%

.bis_Wrapper
  .bis_Carousel_Wrapper
    column('1/1')
    margin-top: -25px
    .carousel_img 
      .text_Wrapper
        clearfix()
        .titletext_Wrapper
          h3
            padding: 15px
            margin-top: 0
            line-height: 1.2em
        .left
            h3
              border-bottom-right-radius: 5px
              border-top-left-radius: 1px
        .right
            h3
              border-bottom-left-radius: 5px
              border-top-right-radius: 1px
        .desc
          p
            position: absolute
            bottom: 0
            opacity: 1
            margin: 0
            padding: 5px
            border-bottom-left-radius: 1px
            border-bottom-right-radius: 1px


//Vids
#bisALMFeatured
  column('1/1')
  min-height: 350px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  border-radius: 2px
  margin-top: 50px
  .topSpacer
    with: 100%
    height: 9px
    background: alpha($ac2, 0.7)
  .story_Wrapper
    clearfix()
    .storyHead
      flex-container()
      padding: 15px
      width: 100%
      height: 100px
      background: alpha($gray(3), 0.3)
      .header
        align(center)
      h2
        margin: 0
    .storyDetails
      padding: 15px
      p
        color: alpha($gray(2), 0.8)
  .alm-btn-wrap
    li
      &:before
        display: none
    li.active
      a
        background: $pc
